body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 0;
    margin: 0;
    background-color: #1b1b1b;
}
#instruction {
    color: white;
}
#instruction h4 {
    margin: 5px;
}
#audioFile {
    color: white;
    margin: 10px;
}
#audioFileLabel {
    color: white;
}
#audioControl {
    margin: auto auto;
}
#audioControl button {
    padding: 10px;
}
.slider-container {
    display: flex;
    justify-content: center;
    align-items: center;
}
.container {
    display: flex;
    align-items: center;
}
.hidden {
    display: none;
}